{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'Filme/css/estilo.css' %}">
    
</head>
<body>    
    <h1>Site Seguro</h1>
    <div>
        <a href="/">Homepage</a> |<a href="{% url 'sec-home' %}">Página inicial de segurança</a>
        |<a href="{% url 'sec-registro' %}">registro</a>



        {%if user.is_authenticated %}
            |<a href='{%url "sec-logout" %}?next={% url 'sec-secreta' %}'>Logout</a>
            |<a href="{% url 'sec-troca-senha' %}">Trocar senha</a>
            |<a href="{% url 'sec-termina-registro' pk=user.id %}">documento</a>

        {% else %}
        | <a href="{% url 'sec-login' %}?next={% url 'sec-secreta' %}">Login</a>
        {% endif %}

        |<a href="{% url 'sec-secreta'%}">PaginaSecreta</a>





    | Você está logado como {% firstof user.username "visitante" %}
    </div>
    <hr>
    {% block conteudo %}{% endblock %}
</body>
</html>