<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>Recuperação de Senha de {{domain}}</title>
</head>

<body>
    <p>Alguém solicitou em {{ protocol }}://{{ domain }} email para {{ email }}
de redefinição da senha da sua conta {{ user }}</p>
<p>Por favor, acesse a seguinte página e escolha uma nova senha:</p>
{% url 'password_reset_confirm' uidb64=uid token=token as link %}
<p>
<a href=
"{{ protocol}}://{{ domain }}{{ link }}">{{ protocol}}://{{ domain }}{{ link }}</a>
</p>
<p>Seu nome de usuário, caso tenha esquecido: <b>{{ user }}</b></p>
<p>Obrigado por usar nosso site!</p>
<p>Equipe {{ domain }}</p>
</body>
</html>