.formulario th {
    vertical-align: top;
    text-align: right;
}
.formulario{
    display: flex;
    justify-content: center;
}

.helptext{
    font-size: 20px;
}

table, th, td {
    border: 1px solid;
  }
.button {
    background-color: #0a0a23;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    left: 46%;
}

.button:hover {
    background-color:#002ead;
    transition: 0.7s;
}

h1{
    text-align: center;
}