
  table {
    border-collapse: collapse;
    
  }
  th {
    background-color: #333;
    color: white;
  }
  td, th {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
  }

  tbody tr:nth-child(odd) {
    background-color: #ff33cc;
  }
  
  tbody tr:nth-child(even) {
    background-color: #e495e4;
  }
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.table-header {
    background-color: black;
    
}
.content {
    display: grid;
}
 h1 {
    text-align: center;
 }