{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lista Contatos</title>
    <link rel="stylesheet" href="{% static 'contatos/css/estilo.css' %}">
</head>

<body>
    {% include 'contatos/links.html' %}
    <h1>Lista de Contatos</h1>
    <h6>listaContatos.html</h6>
    <table>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Salário</th>
            <th>Ações disponíveis</th>
        </tr>
        {% for pessoa in pessoas %}
        <tr>
            <td>{{ pessoa.nome }}</td>
            <td>{{pessoa.idade }}</td>
            <td>{{ pessoa.salario }}</td>
            <td>
                <a href="{% url 'contatos:atualiza-contato' pk=pessoa.id %}">Atualizar</a> |
                <a href="{% url 'contatos:apaga-contato' pk=pessoa.id %}">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <th colspan="5">Ainda não tem contatos cadastrados</th>
        </tr>
        {% endfor %}
    </table>
</body>

</html>