{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atualiza review</title>
    <link rel="stylesheet" href="{% static 'Filmes/css/estilo.css' %}">
    
</head>
<body>
    {% include 'Filme/linksHeader.html' %}
  <h1>Atualização de review</h1>
  <form method="POST" class='formulario'>
    {% csrf_token %}
    <table>
      {{ resenha.as_table }}
        <tr>
          <td></td>
          <td><input type="submit" value="Atualiza"></td>
        </tr>
    </table>
  </form>
</body>
</html>